* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	min-height: 100vh;
}

body {
	display: grid;
	background-color: #777;
	min-height: 100vh;
	justify-content: center;
}
